.Select {
    text-align: left;
    font-weight: bold;

    &_Input {
        padding: 4px;
        height: 20px;
        width: 98%;
    }

    &_Options {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    &_Option {
        padding: 5px;
        margin: 5px 0;
    }
}
