@use "../../assets/pallete.scss" as *;

.Button {
    font-size: 18px;
    padding: 5px 10px;
    border: 3px solid $aquablue;
    font-weight: bold;
    &_Primary {
        background-color: $aquablue;
        color: white;
    }

    &_Secondary {
        background-color: transparent;
        color: $aquablue;
    }

    &_Tertiary {
    }

    &_Icon {
        border: none;
        background-color: transparent;
        height: 50px;
        width: 50px;
        font-size: 40px;

        &:hover {
            background-color: $aquablue;
            color: white;
            border-radius: 60px;
            text-align: center;
        }
    }
}
