.Input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    &_Input {
        width: 100%;
        padding: 5px;
        &_Error {
            color: rgb(160, 7, 7);
            background-color: rgb(255, 224, 224);
            padding: 4px;
            font-weight: bold;
            font-size: 12px;
        }
    }

    &_Label {
        font-weight: bold;
    }

    * {
        margin: 5px;
    }
}
