@use "../../assets/pallete.scss" as *;

.EventCard {
    font-size: 12px;
    background-color: $aquablue;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px;

    &__Text {
        padding: 4px;
        margin: 0;
    }

    &:hover {
        cursor: pointer;
    }

    &_MiddleDay {
        width: 150%;
        height: 24px;
        display: flex;
        align-items: center;
    }

    &_Delete {
        font-size: 12px;
        margin: 0;
        padding: 0 8px;
        height: auto;
        width: auto;
    }
}
