@use "../../assets/mixins.scss" as *;

.Calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &_Container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
