@use "../src/assets/pallete.scss" as *;

// button {
//     border: none;
//     background-color: transparent;
//     height: 50px;
//     width: 50px;

//     font-size: 40px;

//     &:hover {
//         background-color: $aquablue;
//         color: white;
//         border-radius: 60px;

//         text-align: center;
//     }
// }

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 56px;
}
