@use "../src/assets/pallete.scss" as *;
@use "../src/assets/mixins.scss" as *;

body {
    margin: auto;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 56px;
    text-align: center;
    padding: 10px;
    margin: 0;

    @include tablet-below {
        font-size: 26px;
    }
}
